:root {
    font-size: 16px; 
}
  
.custom-navbar {
    padding: 2rem; 
    align-items: center;
    background-color: #000000 !important;
    position: relative;
}

.brand {
    margin-left: 2rem;
}

.navbar-toggle {
    border-color: #A259FF !important;
    border-width: 0.15rem !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23A259FF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #A259FF !important;
    margin-right: 1.85rem; 
}

.navbar-light .navbar-nav .nav-link {
    color: #A259FF !important;
}

.smaller-icon {
  margin-right: 1rem;
}

.smaller-icon .navbar-toggler-icon {
    font-size: 0.6em; 
  }
  

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #A259FF !important;
}

.socials .nav-link {
  width: 2rem;
  height: 2rem; 
  padding: 0 !important;
  margin-right: 1.25rem;
  display: inline-flex;
  align-items: center;
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 992px) {

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: -2rem;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socials {
        display: flex;
        gap: 1.5rem;
        margin-top: 1rem;
        align-items: center;
    }

    .d-flex .socials {
        display: flex;
        gap: 1rem;
        margin: 0;
    }

    .smaller-icon {
        font-size: 1rem;
    }
}
  
@media (min-width: 992px) {
    /* Other styles remain the same */
  
    .navbar-nav {
      margin-left: auto;
    }
  
    .d-flex .socials {
      display: none;
    }
  
    .navbar-collapse .socials {
      display: flex;
    }
}
