.projectsPage {
  width: 80%;
  margin: auto;
  padding: 2em 0;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2em 0;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.project-info { 
  margin-left: 2em; 
}

.project h2, .project p, .project a {
  text-align: left;
}

.project h2 {
  font-size: 1.5em;

}

.project p {
  color: #ffffff;
  font-family: Arial; 

}

.project p span{
  color: #A259FF;
  font-weight: bold;

}

.project a {
  margin-top: 1em;
  display: inline-block;
  background: #24292e;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 4px;
}

.project a:hover {
  background: #325379;
}

@media (max-width: 992px) {

  .projectsPage {
    width: 90%;
    margin: auto;
    padding: 2em 0;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 2.5em 0;
  }

  .project img{
    padding-left: 2em;
  }

  .project h2 {
    font-size: 1.3em;
  
  }

}

